# doc requirements
furo==2025.9.25
Jinja2==3.1.6
myst-nb==1.3.0
myst-parser==4.0.1
sphinx==8.2.3
scipy==1.16.2
matplotlib==3.10.6

# xarray-beam requirements
apache-beam==2.67.0
dask==2025.9.1
immutabledict==4.2.1
numpy==2.2.6
pandas==2.3.2
pooch==1.8.2
xarray==2025.9.0
zarr==3.1.3
